body{
    background: black;
    color: white;
}

header{
    background-image: url("../images/bumbells.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10px;
}

ul{
    display: flex;
}

li{
    list-style: none;
    padding-left: 5%;
}

.firstOne{
    padding-left: 0%;
}

a{
    color: white;
    text-decoration: none;
}

.index-section-background{
    background-image: url("../images/indexsectionpic.jpg");
    background-repeat: none;
    background-size: 100%;
    padding: 50px;
}

.home-section-background{
    background-image: url("../images/homesectionpic.jpg");
    background-repeat: none;
    background-size: 100%;
    padding: 50px;
}

.register-section-background{
    background-image: url("../images/homesectionpic.jpg");
    background-repeat: none;
    background-size: 100%;
    padding: 50px; 
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}