header{
    background-color: purple;
    padding: 5px;
}

section{
    background-color: red;
    padding: 5px;
}

section.feature-box{
    background-color: yellow;
    text-align:right;
}

footer{
    background-color: blue;
    padding: 5px;
}